<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/suncloud.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Jeremy Hostetter.  It uses data from a site that is not from Udemy</p>
    <img class="portrait" src="/img/me.jpg">
    <p>This is {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>